@use "../Utils/" as *;

.TeamSection {
  margin-top: 4rem;

  &-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 3rem;

    @include breakpoints(sm) {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoints(md) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include breakpoints(lg) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
