@use "../Utils/" as *;

.WhatGDG {
  position: relative;
  margin-top: -4rem;
  padding-bottom: 2rem;
  overflow: hidden;
  .overlayBox {
    width: 100%;
    div {
      position: absolute;
      width: 150px;
      aspect-ratio: 1;
      border-radius: 50%;
      translate: 0 -50%;
      top: 50%;
      z-index: -1;
      opacity: 0.5;
      filter: blur(80px);

      &:nth-child(1) {
        background-color: var(--red);
        left: -5%;
      }
      &:nth-child(2) {
        background-color: var(--yellow);
        right: -5%;
      }
    }
  }
  .container {
    display: grid;
    place-content: center;
    text-align: center;
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      p {
        max-width: 800px;
        padding-inline: 1rem;
      }
    }

    .img {
      opacity: 0;
      scale: 0;
      width: 150px;
      aspect-ratio: 1;
      margin-inline: auto;
      img {
        object-fit: contain;
      }
    }
  }
}

.hide {
  overflow: hidden;
}
